{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pops Store</title>
    <link rel="icon" type="image/x-icon" href="/img/logo/Logo-favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app\style.css' %}">
    <link href="{% static 'bootstrap\bootstrap.min.css' %}" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="container text-center">
              <div class="row">
                <div class="col-10" id="msgNav">Nouveautés ! -10% pour toutes nouvelles inscriptions!</div>
                <div class="col-2 align-self-end">
                  <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Inscription</a>
                </div>
              </div>
          </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg sticky-top text-bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'main_app\img\logo\Logo PopsOne - AJ1-FondBlanc-2.0-colors.svg' %}" alt="Bootstrap" width="125" height="125">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" aria-current="page">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="container text-center">
              <div class="row align-items-center">
                <div class="col-sm">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Acceuil</a>
                </div>
                <div class="col-sm">
                  <a class="nav-link" href="{% url 'new' %}">Nouveautés</a>
                </div>
                <div class="col-sm dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Collection
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Mangas</a></li>
                      <li><a class="dropdown-item" href="#">Enfants</a></li>
                      <li><a class="dropdown-item" href="#">Luxe</a></li>
                      <li><a class="dropdown-item" href="#">Vestes</a></li>
                      <li><a class="dropdown-item" href="#">Sneakers Customs</a></li>
                      <li><a class="dropdown-item" href="#">Accesoires</a></li>
                  </ul>
                </div>
                <div class="col-sm">
                  <a class="nav-link" href="{% url 'customize' %}">Personnalisation</a>
                </div>
                <div class="col-sm">
                  <a class="nav-link" href="#">Mes Oeuvres</a>
                </div>
                <div class="col-sm">
                  <a class="nav-link" href="#">Contacts</a>
                </div>
              </div>
          </div>
        </div>
    </nav>
      <div class="container-fluid">
          <div class="container-fluid" id="customHead">
              <h3 class="text-center mt-5">Personnalisation</h3>
              <h1 class="text-center mt-5">Créez votre paire de Sneakers sur-mesure</h1>
              <!--<img src="{% static 'main_app\img\logo\black-lines-clipart-transparent-.jpg' %}" alt="" class="img-fluid">-->
          </div>
          <div class="container text-center">
              <div class="row">
                <div class="col mt-5">
                  <img src="{% static 'main_app\img\Air kikko-montageCanva.png' %}" class="figure-img img-fluid rounded" alt="" width="350" height="350">
                  <img src="{% static 'main_app\img\logo\Logo PopsOne - AJ1-FondBlanc-2.0-colors.svg' %}" class="figure-caption" alt="Acceuil" width="125" height="125">
                </div>
                
                <div class="col">
                  <h1 class="display-5 mt-5"> Choisissez le modèle et votre idée </h1>
                  <p class="text-end">Toute nos paires sont authentiques,  achetés dans les boutiques officielles. Vous avez juste à laisser parler votre imagination. </p>
                  <br>
                  <h1 class="display-5"> Envoyez-nous votre projet personnalisé </h1>
                  <p class="text-end">En cliquant sur le bouton ci-dessous, vous allez remplir un formulaire en nous communiquant votre projet en quelques lignes. Si vous possédez des photos ou d’autres éléments servant à finaliser votre projet serait un plus ! </p>
                  <br>
                  <h1 class="display-5"> Consulter notre proposition </h1>
                  <p class="text-end">Nous ferions de notre mieux pour vous répondre dans délai les plus réduit possible, et nous pourrions établir un devis pour votre projet. </p>
                  <br>
                  <h1 class="display-5"> Livré chez vous ou en point Relais </h1>
                  <p class="text-end">Une fois votre projet fini, nous vous lexpédierons où que vous le voulez !</p>

                </div>
              </div>
      </div>
      <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Restez connectés à nos réseaux sociaux:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>PopsOne Custom Sneakers
              </h6>
              <p>
                Artiste avec pleins d'idées dans la tête, et qui est à votre écoute pour toute demande.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Produits
              </h6>
              <p>
                <a href="#!" class="text-reset">Nike</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Adidas</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Jordan</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Autres</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Liens utiles
              </h6>
              <p>
                <a href="{% url 'index' %}" class="text-reset">Acceuil</a>
              </p>
              <p>
                <a href="{% url 'new' %}" class="text-reset">Nouveautés</a>
              </p>
              <p>
                <a href="{% url 'customize'}" class="text-reset">Personnalisation</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> Lisbonne, Portugal</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">PopsOneCustomSneakers</a>
      </div>
      <!-- Copyright -->
    </footer>
    <script src="{% static 'bootstrap\bootstrap.bundle.js' %}"></script>
  </body>
</html>