{% load static %} {% load bootstrap5 %} {% block content %}
<!--<h2>Sign up</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Sign up</button>
  <a class="btn btn-primary" href="{% url 'index' %}" role="button">Retour</a>
</form>-->

<h2>sign up</h2>
<form method="post">
  {% csrf_token %} {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary">Valider</button>
  <a class="btn btn-primary" href="{% url 'index' %}" role="button">Retour</a>
</form>
{% endblock %}
